<div class="mat-elevation-z8" style="width: 80%; padding: 60px; margin: 50px auto;">
  <div style="display: flex; align-content: center; justify-content: center; margin: 50px auto; width: 50%">
    <button class="mat-flat-button" (click)="onClientAdd()">+</button>
    <button class="mat-flat-button" (click)="onClientEdit()" [disabled]="selectedClientId === -1">...</button>
    <button class="mat-flat-button" (click)="onClientRemove()" [disabled]="selectedClientId === -1">-</button>
  </div>
  <div style="width: 80%; margin: 50px auto;">
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Search lessons" #input>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" style="width: 80%; margin: 50px auto;">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>

      <!-- Charm Column -->
      <ng-container matColumnDef="charm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Charm</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.charm}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.age}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.total}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="max">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Max</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.max}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="min">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Min</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.min}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [ngClass]="{'highlight': selectedClientId == row.id}"
                (click)="onRowSelect(row)"
      ></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="INIT_PAGE_SIZE"
      [pageSizeOptions]="PAGE_SIZE_OPTIONS">
    </mat-paginator>
  </div>
</div>
