table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
.selected {
    background-color: red !important;
}
.ng2-smart-table {
    border: 1px solid grey;
    font-size: 50px;
}
.modal-backdrop.fade {
    opacity: 0.5;
}
.modal-open .modal {
    opacity: 1;
}
