<div>
  <h2>Main Form Component</h2>

  <button (click)="exit.emit()">Выход</button>

  <div *ngIf="!userInfo">
      <button [disabled]="!loadUserInfoButtonEnabled" (click)="loadUserInfoButtonClicked()">
      Загрузить данные пользователя
    </button>
    <div *ngIf="loadUserInfoError">
      {{loadUserInfoError}}
    </div>
  </div>
  <div *ngIf="userInfo">
        <table>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.id}}</b></td>
                </tr>
                <tr>
                    <td>Account name</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.accountName}}</b></td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.surname}}</b></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.name}}</b></td>
                </tr>
                <tr>
                    <td>Patronymic</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.patronymic}}</b></td>
                </tr>
                <tr>
                    <td>Phone type</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td><b>{{userInfo.phoneType}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clients" class="table">
        <div>
            <button (click)="onAddClick()">+</button>
            <button [disabled]="!selected" (click)="onEdit(selected)">...</button>
            <button [disabled]="!selected" (click)="onRemove(selected)">-</button>
        </div>

        <table>
            <tr>
                <td>Selected</td>
                <td>ФИО</td>
                <td>Характер</td>
                <td>Возраст</td>
                <td>Общий остаток счетов</td>
                <td>Максимальный остаток</td>
                <td>Минимальный остаток</td>
            </tr>
            <tr *ngFor="let client of clients" (click)="onItemClick(client)">
                <td class="selected" *ngIf="selected && selected===client"></td>
                <td *ngIf="!selected || selected !== client"></td>
                <td>
                    {{ client.name + ' ' + client.surname + ' ' + client.patronymic }}
                </td>
                <td>
                    {{ client.charm }}
                </td>
                <td>
                    {{ client.age }}
                </td>
                <td>
                    {{ client.total }}
                </td>
                <td>
                    {{ client.min }}
                </td>
                <td>
                    {{ client.max }}
                </td>
            </tr>
        </table>
    </div>
</div>
